<ion-view view-title="Add">
  <ion-content>
    <div class="bar bar-header bar-positive">
    <div class="bar bar-header bar-calm">
    <button class="button" ng-click="back()">back</button>
    <h1 class="title">Add Item</h1>
  </div>
     <h1 class="title">Add new ToDo's </h1>
    </div>
    <br><br><br>
    <div class="list">
       <label class="item item-input">
       <input type="text" placeholder="Add-item" ng-model="item">
       </label>
    </div>    	 
  </ion-content>
  
</ion-view>
       