<ion-view view-title="Business1" class="pane">
  <ion-content class="content">
   <div class="item item-icon-left item-icon-right">
	      <button class="button button-icon"><i class="icon ion-arrow-left-b"></i>
	      </button>  
	       Business1
	      <button class="button button-icon"><i class="icon ion-arrow-right-b"></i>
      </button>
   </div>
   <!-- <div class="Ist-row">

		<div class="left-page" ng-repeat="business in businesses">			   
           <div class="item item-body">
		      <img class="full-image" src="{{business.logo}}" width="60" height="60">
		      <h4>{{business.last_name}}</h4>
		   </div>				    
        </div>

		

	</div> -->
	<div class="Ist-row"> 
         <div class="left-page">			   
           <div class="item item-body">
		      <img class="full-image" src="/img/img-2.jpg">
		      <h4>MyBusiness</h4>
		   </div>				    
        </div>
        <div class="right-page">	
			  <div class="item item-body" ng-click="myProduct()">
		      <img class="full-image" src="/img/img-2.jpg">
		      <h4>My Products</h4>		      
		   </div>
		</div>
	<div class="2st-row">

		<div class="left-page">			   
           <div class="item item-body">
		      <img class="full-image" src="/img/img-2.jpg">
		     <h4>Resgister sales</h4>
		   </div>				    
        </div>

		<div class="right-page">	
			  <div class="item item-body">
		      <img class="full-image" src="/img/img-2.jpg" ng-click="regExp()">
		       <h4>Resgister Expenses</h4>
		   </div>
		</div>
		
	</div>
	<div class="3st-row">

		<div class="left-page">			   
           <div class="item item-body" ng-click="familyMember()">
		      <img class="full-image" src="/img/img-2.jpg">
		      <h4>My Works Teams</h4>
		   </div>				    
        </div>

		<div class="right-page">	
			  <div class="item item-body">
		      <img class="full-image" src="/img/img-2.jpg">
		       <h4>My Finances</h4>
		   </div>
		</div>
		
	</div>
	<div class="4st-row">

		<div class="left-page">			   
           <div class="item item-body">
		      <img class="full-image" src="/img/img-2.jpg">
		        <h4>My Rewards</h4>
		   </div>				    
        </div>

		<div class="right-page">	
			  <div class="item item-body">
		      <img class="full-image" src="/img/img-2.jpg">
		      <h4>Business Supply</h4>
		   </div>
		</div>
		
	</div>

  </ion-content>
</ion-view>
<style type="text/css">

	h4{
		color:#fff;
	}
	.item{
	  margin-top: 10px;	
      border-width: 0px !important;
	}
</style>