<ion-view view-title="Financial Report" class="pane">
  <ion-content class="content">
     Financial Report
     <div class="first-row">
        <div class="left-page">        
           <div class="item item-body">
            <img class="full-image" src="/img/hand.png">
           
          </div>  
           <h4>My Incomes</h4>         
        </div>
        <div class="mid-page">  
            <div class="item item-body">
              <img class="full-image" src="/img/dollar.png">
              
           </div>
           <h4>My Expanes</h4> 
        </div>
        <div class="right-page">  
            <div class="item item-body">
              <img class="full-image" src="/img/elephant.png">              
           </div>
           <h4>My Finances</h4>
        </div>
        <div class="back-button">    
        <div class="btn-button">
          <button class="button button-block">
           Back
        </button>
        </div>         
  </div>
  </ion-content>
</ion-view>   

<style type="text/css">
  .content{
      color:white;  
      text-align: center;
      font-family: "Comic Sans MS";
      margin-top: 34px;
      font-size: 36px;
  }
	
    h4{
    	color:#fff;    	
    	font-size: 14px;
    }
  .first-row{
    float:left;
    width: 100%;
    padding: 0 25px; 
  }
   .left-page{
  float: left;
  width: 33.33%;
  padding: 15px;
  }
  .mid-page{
    float: left;
    width: 33.33%;
    padding: 15px;
  }
    .right-page{
    float: right;
    width: 33.33%;
    padding: 15px;
  }
    .full-page{
    float: left;
    width: 33.33%;
    padding: 10px;  
    }  
  .item-body{
    border-radius: 5px;
    background-color: #652d86;
    border:3px solid #fff;
    padding: 5px;
   }  
	.back-button{
   	float:left;
   	padding: 10px;
   	margin-top: 100px;
   }
   .button-block{
    background-color: #f47d3d;
    border: 3px solid #ffffff;
    clear: both;
    display: block;
    color:#fff;
    font-size: 20px;
   } 
</style>