<ion-view view-title="Register Sales" class="pane">
 <ion-content class="content">
 <p>Register Sales</p> 
	     <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
	    <div class="tabs">
	      <a class="tab-item active" href="#/app/registersales">	        
	        Registser Sales
	      </a>
	      <a class="tab-item deactive" href="#/app/selectedproduct">
	       Selected Product 	        
	      </a>
	      <a class="tab-item deactive" href="#/app/manualsale">	        
	        Manual Sale	        
	      </a>
	    </div>
	  </div>
	  <div class="product-name">
	  	<p>Product Name</p>
	  </div>
	  <div class="input_field">
		  <div class="item item-input-inset">
	      <label class="item item-input-wrapper">	      
	        <input type="text" placeholder="Input type">
	      </label>
		  </div>
	  </div>
 </ion-content>
</ion-view>
<style type="text/css">
	p{	
	font-size: 34px; 
	font-family: "Comic Sans MS";
	margin: 26px 0 10px;
	padding: 20px;
    } 
    .input_field{

    	float:left;
    	width:100%;
    	padding: 10px;
    }
    .item-input-wrapper {
		background: #66c6ad;
	    border: 10px solid #e0f3ee;
    }
</style>