<ion-view view-title="location" class="pane">
  <ion-content class="content">
   <form  name="ionic" class="form-class" novalidate form-manager>              
      <div class="list list-inset">
        <label class="item item-input">
            <input ng-model="search" name="search" type="text" placeholder="Search Product and Business">
        </label>
       </div>                  
   </form>
  <div class="geo-location">
      <div class="location">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109782.69919796585!2d76.62733917451409!3d30.6984528199496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee906da6f81f%3A0x512998f16ce508d8!2sSahibzada+Ajit+Singh+Nagar%2C+Punjab!5e0!3m2!1sen!2sin!4v1481112456855"  height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
      <h3>Business Address</h3>
      </div>
      
  </div>
  <div class="back">
      <button class="button button-block">
       Confirm
      </button>
  </div>
  </ion-content>
</ion-view>
<style type="text/css">
  .geo-location{
    width: 100%;
    float:left;
    /*margin-top:20px; */
    
  }
  .back{
    float:left;
    width:100%;
    padding: 50px;
  }
  .button-block{
    background-color: #f47d3d;
    border: 3px solid #ffffff;
    clear: both;
    display: block;
    color:#fff;
    font-size: 20px;
   }
  .location > iframe {
    padding:20px;
    width: 100%;
    margin-top: 20px;
}
h3{
  color:white;
}
.form-class{  
  padding: 10px;
}
.list-inset >item-input{
  background: #66c6ad;
  border: 2px solid #e0f3ee;

}
.item-input input{
  background: #66c6ad;
  color:#fff;
}
.item-input input[type="text"]::-webkit-input-placeholder {
    color: #fff;
}
</style>