<ion-view view-title="NewBusiness" class="pane">
  <ion-content class="content">
   New Business<br>
   <h3 style="color:thistle;">Address</h3><br>
   <br>
   <div class="form-body">
   <!-- lower block -->
			<div class="upper-block"> 

				<div class="left-page">	
					 <div class="list">
						   <div class="business-image">
						     <img src="/img/img-2.jpg" class="img-circle" alt="img-2" width="150" height="150">
						   </div>

						   <div class="item item-logo">			      						      
					        <button class="button button-assertive">
					          Add Your
					          Logo
					        </button>				 				     
					       </div>
					 </div>
				</div>
					
			    

				<div class="right-page">	
					 <div class="list">
					    <div class="item item-input-inset">
					      <label class="item item-input-wrapper">			      
					      <input type="text" placeholder="Business Catagory">
					      </label>
					   </div>

					   <div class="item item-input-inset">
					      <label class="item item-input-wrapper">
					      
					      <input type="text" placeholder="Corporation">
					      </label>
					   </div>
					
						<div class="item item-input-inset">
						      <label class="item item-input-wrapper">
						      
						      <input type="text" placeholder="Business Name">
						      </label>
					   </div>
					   <div class="item item-input-inset">
						      <label class="item item-input-wrapper">
						      
						      <input type="text" placeholder="Currency">
						      </label>
					   </div>
					   <div class="item item-input-inset">
						      <label class="item item-input-wrapper">
						      
						      <input type="text" placeholder="Sales Rep Code">
						      </label>
					   </div>
					</div>
				</div>
		  </div>


<!-- lower block -->
		  <div class="lower-block">
		     
		        <div class="item item-input-inset">
		        <img src="/img/facebook.png">					      						      
				 <button class="button button-block">
				   Add Location
				 </button>
				 <img src="/img/hexa.png">						     
				</div>

				<div class="item item-input-inset">
				<img src="/img/facebook.png">	
				<button class="button button-block">
				   Add Busness  <br>
				   Phone Number
				</button>
				<img src="/img/hexa.png">
				</div>

				<div class="item item-input-inset">
				<img src="/img/facebook.png">	
				<button class="button button-block">
				   Add Busness <br>
				   E-mail Account
				</button>
				<img src="/img/hexa.png">
				</div>

				<div class="item item-input-inset">
				<img src="/img/facebook.png">	
				<button class="button button-block">
				   Add Busness <br>
				   Facebook Page
				</button>
				<img src="/img/hexa.png">
				</div>

				<div class="item item-input-inset">
				<img src="/img/facebook.png">	
				<button class="button button-block">
				   Register in "Google <br>
				   My Business"				   
				</button>
				<img src="/img/hexa.png">
				</div>
		  </div>
		  				
	</div>	   
  
    <div class="action" >
    	<button class="button button-assertive">
				  Done!
		</button>
    </div>

  </ion-content>
</ion-view>
