<ion-view view-title="Product view" class="pane">
  <ion-content class="content">
     <p>Select Payment Form</p>
     		     
		        <div class="cash">
		        	<div class="left-page">
				      <img src="/img/img-2.jpg" width="50" height="50">
				    </div>
				    <div class="right-page"> 
				      <h3>Cash</h3>
				    </div>			 						     
				</div>

				<div class="cash">
		        	<div class="left-page">
				      <img src="/img/img-2.jpg" width="50" height="50">
				    </div>
				    <div class="right-page"> 
				      <h3>Card</h3>
				    </div>			 						     
				</div>

				<div class="cash">
		        	<div class="left-page">
				      <img src="/img/img-2.jpg" width="50" height="50">
				    </div>
				    <div class="right-page"> 
				      <h3>Trusted</h3>
				    </div>			 						     
				</div>

					
	 
	 <div class="back-button">    
	    <div class="btn-button">
	      <button class="button button-block">
			   Back
	 	  </button>
	    </div>		     
    </div>
  </ion-content>
</ion-view>
<style type="text/css">
	p{	
	font-size: 34px; 
	font-family: "Comic Sans MS";
	margin: 20px 0 10px;
	padding: 20px;
    } 
    h3{
    	color:white;
    	text-align: left;
    }
   .cash{
   	float:left;
   	width:100%;
   	padding:10px;
   	margin-top: 20px;
   	background: #66c6ad  ;
    border: 2px solid #e0f3ee;
   }
   .card{
   	float:left;
   	width:100%;
   	padding:10px;
    margin-top: 20px;
    background: #66c6ad  ;
  border: 2px solid #e0f3ee  ;   
   }
   .trust{
   	float:left;
   	width:100%;
   	padding:10px;
   	margin-top: 20px;
   	background: #66c6ad  ;
    border: 2px solid #e0f3ee;
   }
   .back-button{
   	float:left;   	
   	padding: 10px;
   } 
   .button-block{
   	background-color: #f47d3d;
    border: 3px solid #ffffff;
    clear: both;
    display: block;
    color:#fff;
    font-size: 20px;
   }
   .left-page{
    float:left;
    width:40%;
    padding-left:10px; 
   }
   .right-page{
    float:left;
    width:60%;
    padding-right:30px; 
   }
   /*.scroll {
    padding: 30px;
}*/
</style>